rest/src/main/resources/application.wadl

<?xml version="1.0" encoding="UTF-8"?>
<application xmlns="http://wadl.dev.java.net/2009/02"><doc
        jersey:generatedBy="Jersey: 1.18.2 10/26/2014 03:51 PM"
        xmlns:jersey="http://jersey.java.net/"/><doc
        title="A message in the WADL"
        xml:lang="en"><![CDATA[This is added to the start of the generated application.wadl]]></doc><grammars/><resources
            base="https://localhost:8181/rest"><resource
                path="/wieze"><method id="findWieze"
                        name="GET"><response><representation
                mediaType="application/json"/></response></method><resource
                    path="/wieza-{id : [0-9]+}"><param name="id"
                    style="template" type="xs:int"
                    xmlns:xs="http://www.w3.org/2001/XMLSchema"/><method
                    id="findWieza" name="GET"><response><representation
                mediaType="application/json"/></response></method></resource><resource
                    path="/wieza-{id : [0-9]+}/nowy-mag"><param
                    name="id" style="template" type="xs:int"
                    xmlns:xs="http://www.w3.org/2001/XMLSchema"/><method
                    id="saveNewMag" name="POST"><request><representation
                            mediaType="application/json"/></request><response><representation mediaType="*/*"/></response></method></resource></resource></resources></application>
