rest/src/main/resources/application.wadl

<?xml version="1.0" encoding="UTF-8"?>
<application xmlns="http://wadl.dev.java.net/2009/02"><doc
        jersey:generatedBy="Jersey: 1.18.2 10/26/2014 03:51 PM"
        xmlns:jersey="http://jersey.java.net/"/><doc
        title="A message in the WADL"
        xml:lang="en"><![CDATA[This is added to the start of the generated application.wadl]]></doc><grammars/><resources
            base="https://localhost:8181/rest"><resource
                path="/books"><method id="findWieze"
                        name="GET"><request><param name="offset"
                        style="query" type="xs:int" default="0"
                        xmlns:xs="http://www.w3.org/2001/XMLSchema"/><param
                        name="limit" style="query" type="xs:int"
                        default="0"
                        xmlns:xs="http://www.w3.org/2001/XMLSchema"/></request><response><representation mediaType="application/xml"/></response></method></resource></resources></application>
